.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  background-color: rgb(219, 219, 219);
}

.counter,.counter2{
  margin: 50px;
  height: 50px;
  width: 50px;
  background-color: red;
  cursor: pointer;
}

.counter2{
  background-color: green;

}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

p{
  color: yellow;
}

